.item {
  text-align: left;
  font-weight: 600;
  border-top: 1px solid #E5E5E6;
  padding: 20px 0;
  position: relative;
  display: block;
  color: #3C3C3E;
  font-size: 14px;
  border-sizing: border-box;
}

.item:hover {
  border-top: 1px solid #0074c8;

  color: #3C3C3E;
}

.item:hover + .item {
  border-top: 1px solid #0074c8;
}

.item:first-child {
  border-top: 1px solid #fff;
}

.item:first-child:hover {
  border-top: 1px solid #0074c8;
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
