.item {
  text-align: left;
  font-weight: 600;
  border-top: 1px solid #E5E5E6;
  padding: 15px 0;
  position: relative;
  display: block;
  color: #3C3C3E;
  font-size: 14px;
  border-sizing: border-box;
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
