body {
  font-family: 'Open Sans';
}

.main {
  margin: 40px auto 0 auto;
  max-width: 455px;  /*415 + 20 * 2*/
  padding: 20px;
  text-align: center;
}

.grid {
  background: transparent url("http://klarna.github.io/ui-css-components/dist/img/baseline__grid.png") repeat scroll 0% 0%;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}
